body {
  padding: 50px;
}

h1 {
  padding: 10px;
}

tr.hover {
   cursor: pointer;
}

#prediction-arrival-soon {
  background-color: #C9FFB7;
}

#prediction-arrival-late {
  background-color: #FFA491;
}
