extends layout

block content

  h1 LA Metro Bus Routes
  table.table.table-hover
    thead
      tr
        th Route #
        th Route
        th
    tbody
      - each route in routes
        tr
          th= route.id
          th= route.display_name
          th
            a(href="#")


  script(src='/javascripts/index.js')
