%html
  %head
    %title LeanMap
    %script{ type: 'text/javascript', src: 'http://code.jquery.com/jquery-1.10.2.min.js' }
    %script{ type: 'text/javascript', src: 'http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js' }
    %link{ rel: 'stylesheet', href: 'http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css' }
  %body
    %div{ id: 'mapContainer', style: 'width: 800px; height: 600px;' }
      :javascript
        var map;
        var cadastralLayer;

        $(document).ready(function () {
          map = new L.Map('mapContainer');
          var url = 'http://{s}.tile.cloudmade.com/YOUR-API-KEY/997/256/{z}/{x}/{y}.png';
          var copyright = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade';
          var tileLayer = new L.TileLayer(url, {maxZoom: 20, attribution: copyright});
          var startPosition = new L.LatLng(-27.43247,153.065654);
          map.on('load', function(e) {
            requestUpdatedCadastre(e.target.getBounds());
          });
          map.setView(startPosition, 19).addLayer(tileLayer);
          map.on('moveend', function(e) {
            requestUpdatedCadastre(e.target.getBounds());
          });
        });

        function requestUpdatedCadastre(bounds) {
          $.ajax(
            {
              type: 'POST',
              url: '/RetrieveCadastre',
              dataType: 'json',
              data: JSON.stringify(bounds),
              contentType: 'application/json; charset=utf-8',
              success: function (result) {
                parseResponseCadastre(result)
              },
              error: function (req, status, error) {
                alert('Unable to get cadastral data');
              }
            });
        }

        function parseResponseCadastre(data) {
          if (cadastralLayer != undefined)
          {
            map.removeLayer(cadastralLayer);
          }
          cadastralLayer = new L.GeoJSON();
          cadastralLayer.on('featureparse', function(e) {
            e.layer.setStyle({ color:  '#003300', weight: 2, fill: true, fillColor: '#009933' });
          });
          cadastralLayer.addGeoJSON(data);
          map.addLayer(cadastralLayer);
        }
